<% provide(:title, "About")%>
<h1>About Chen Yang</h1>
<p>
  A little about my background: I am a software product development manager at THG Energy Solutions who is super passionate about technology. I started my current role about two years ago fresh out of grad school, and during this job I have had the opportunity to learn about the many aspects of software development. What I enjoy the most about being a product manager is I get to be the bridge between our development team and business team, and being in the center of how the whole product come together.

  On weekends when I’m not learning coding, I enjoy cycling, kayaking, cooking, and great movies. I currently live in Austin, TX.
</p>
