<footer class="footer">
  <small>
  Made with &hearts; by <a target="_blank" href="https://github.com/yangc5">Chen Yang</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", 'http://chenyang.codes' %></li>
    </ul>
  </nav>
</footer>
